*{ box-sizing: border-box }

img {
   width: 100%;
   display: block;
}

#app-container{
  max-width: 100%;
}

.congressman-container{
  text-align:center;
}

.congressman{
  text-align: left;
  max-width: 33%;
  vertical-align: top;
  display: inline-block;
  padding: 15px;
  margin: 20px;
  background: #C8F7C5;
}

.congressman li{
  font-size: 10px;
}
